@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './slides.css';

:root{
  --main-background: #1D2220;
  --card-background: #3E4844;
  --slider-buttons-background: #3f3f3f; 
  --button-background: #252525;

  --primary-color: #52CC9B; 
  --primary-border: #88FFCF;
  --primary-shadowbox: #1bdd90; 

  --primary-text: #B9E9D8;
  --secundary-text: #f8f8f8;

  --realce: #CC5256;
  --promo-card-prices: #FFE865;
}

.shadow-box{
  box-shadow: 0 1px 4px 1px var(--primary-shadowbox);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 

  font-family: "Roboto", sans-serif;
}

main{
  min-width: none;
}

body{
  min-height: 100%;

  background-color: var(--main-background);
  background-image: url("/img/banners/horizon-banner.png");
  background-size: 1920px 580px;
  background-repeat: no-repeat;
  background-position: center top;
  transition: background-image 0.5s ease-in-out;

  font-family: Arial, Helvetica, sans-serif;
}

header{
  margin-bottom: 420px;

  position: sticky;
  top: 0;
}

nav{
  max-width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;

  padding: 10px;
  margin: 20px 60px;
}
.logo-mobile{
  display: none;
}
.arrow{
  font-size: 20px;
}
/* Barra de pesquisa e botão filtro */
.search-components{
  width: 620px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--primary-border);

  display: flex;
  align-items: center;
}

.search-components button{
  width: 120px;
  height: 47px;
  background-color: transparent;
  border: none;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-box{
  width: 480px;
  border: none;
  padding: 14px 0;
  padding-left: 16px;
  border-left: 2px solid var(--primary-border);
}
.search-box:focus{
  outline: none;
}

.search-bar-mobile{
  display: none;
}

.search-components:has(.search-box:focus){
  outline:var(--primary-color) ;
  box-shadow: 0 2px 0px 0px var(--primary-text);
}

.login-button{
  height: fit-content;
  text-decoration: none;
  color: #000;

  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 46px;
  background-color: var(--primary-color);

  border-radius: 8px;
  border: 1px solid var(--primary-border);
}

/* Plano de fundo em degrade na frente do banner */
.degrade-bg{
  background: linear-gradient(to top, #1D2220, #282F2C, #363f3b, #454545da, #4545450a);
  margin-bottom: 40px;

  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}

/* botões do slider */
.button{
  width: 62px;
  height: 12px;
  background: var(--slider-buttons-background);
  border: 1px solid var(--primary-border);

  border-radius: 8px;
  cursor: pointer;

  transition:box-shadow .1s ease-in-out;
}
.button.active {
  background-color: var(--realce);
  border-color: var(--primary-color);
}
.button:hover{
  box-shadow: 0 2px 0 1px var(--primary-shadowbox);
}

h1{
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 32px;

  color: var(--primary-text);
  letter-spacing: 1.15px;
}


.avisos{
  max-width: 1000px;
  margin: 0 auto 64px;
  background: var(--card-background);

  border: 1px solid var(--primary-border) ;
  border-radius: 32px;
}

.avisos-card-holder{
  padding: 20px 36px;
  display: flex;
  list-style: none;

  color: #fff;


  justify-content: space-between;
  align-content: center;
}

.avisos-card{
  display: flex;
  align-items: center;
  gap: 8px;
}

.avisos-card img{
  width: 60px;
  height: 52px;
}

/* Promos da semana */
.card-section{
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-auto-rows: auto;

  gap: 12px 18.33px;

  margin-bottom: 64px;
}

.card-section-titulo h2 {
  color: var(--primary-color);
  letter-spacing: 1.15px;

  margin-bottom: 4px;

  font-size: 38px;

}

.card-section h2 ~ p{
  color: #fff;

  max-width: 80ch;
}


.card-section-titulo{
  grid-column: 1 / -1;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 16px;
}

.card-section-titulo a{
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  padding: 12px 20px;

  transition: background-color .1s ease-in-out;
}
.card-section-titulo a:hover{
  background: var(--primary-color);
  color: #000;
}

.game-card{

  max-width: 315px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 6px;

}

.card-holder{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  background-color: var(--card-background);
  border-radius: 8px 8px 0 0; 
  color: var(--primary-text);

  margin-bottom: 2px;

  text-decoration: none;
}

.card-holder h3{
  margin-bottom: 24px;
}

.card-info{
  padding: 18px;
}

.card-info .promo{
  display: grid;
  grid-template-columns: 68px 2fr;
  gap: 0 12px;
}

.card-holder .preco h4{
  color: var(--secundary-text);
}

.card-holder span{
  grid-row: span 2;


  padding: 10px 8px;
  background: var(--realce);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;

  text-align: center;
}

.card-holder p{
  text-decoration: line-through;
}

.card-holder h4{
  color: var(--promo-card-prices);
  font-size: 24px;
}


.game-card button{
  background: var(--button-background);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 8px;

  border-radius: 0 0 8px 8px;

  outline: 0;
  border: 1px solid var(--primary-border);

  cursor: pointer;
}

.game-card button span{
  color: var(--primary-color);
  letter-spacing: 1.15px;
}

.card-section.mais-vendidos{
  grid-template-columns: 1fr 1fr;
  align-content: stretch;
}

.mais-vendidos .game-card .card-holder{
  padding: 16px;

  border-radius: 8px;
}

.mais-vendidos .game-card{
  max-width: 100%;

  position: relative;
}

.mais-vendidos .game-card .plataforma{
  display: flex;
  flex-direction: column;
  
  position: relative;
}
.mais-vendidos .plataforma img{
  width: 140px;
  border-radius: 0 0 2px 2px;
}

.mais-vendidos .plataforma img:not(:last-child){
  border-radius: 2px 2px 0 0;
  position: absolute;
  z-index: 2;
}

.mais-vendidos .card-holder{
  grid-template-columns: 1fr 9fr;
  gap: 16px;

  align-items: center ;

  border: 1px solid var(--primary-border);
}

.mais-vendidos .game-card::before{
  content: var(--posicao, "");
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;

  position: absolute;
  top: -10px;
  left: -10px;
}

.mais-vendidos .card-info{
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: space-between;
}

.mais-vendidos .card-info h3{
  font-size: 14px;
  margin-bottom: 0;
}
.mais-vendidos .preco h4{
  font-size: 16px;
}

.mais-vendidos .preco{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mais-vendidos .promo{
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
  align-items: end;
}
.mais-vendidos .promo span{
  font-size: 12px;
}

.mais-vendidos .preco button{
  height: fit-content;
  padding: 10px 26px;

  background: var(--primary-color);
  border-radius: 4px;

}
.mais-vendidos .preco button img{
  color: #000;
}
.mais-vendidos .preco button span{
  background-color: transparent;
  font-size: 14px;
  
  padding: 0;
  color: #000;
}

footer{
  width: 100%;
  padding: 120px 10px;

  background-color: #000;
  text-align: center;
  color: #fff;
}
@media (max-width: 1100px){
  .search-components {
      width: 480px;
    }
  
    .search-components button {
      width: 80px;
      height: 47px;
    }
  
    .search-box {
      width: 380px;
    }
}
@media (max-width: 1000px){
  .search-components {
      width: 280px;
      align-content: center;
    }
    
    .search-components button {
      display: none;
    }
    
    .search-box {
      width: 380px;
      height: 44px;
      border-radius: 8px;
    }

    .search-components .login-button{
      height: 44px;
      padding: 0;
    }

  h1{
    max-width: 680px;
    font-size: 26px;
  }
  .avisos{
    max-width: 680px;
  }    

  .card-section{
    max-width: 680px;
    justify-items: center;
  }

  .card-section-desc h2{
    font-size: 24px;
  }
  .card-section-desc h2 ~ p{
    max-width: 48ch;
  }

  .card-section .card-section-titulo{
    justify-self: stretch;
  }

  .card-section.slide-section {
    grid-template-columns: 1fr;
  }
  
  .carousel{
    max-width: 680px;
  }
  
  .slide{
    flex-direction: column;
    align-items: center;

    gap: 0;
    margin-right: 0;
  }
  
  .slides-images{
    width: 720px;
    margin-right: 0;
  }

  .slide-images{
    border-radius: 0 0 0 0;
  }

  .carousel-button{
    transform: translateY(210%);
  }
  .slide-info{
    max-width: 672px;
    width: 100%;

    border-top: 0;
  }
}

@media(max-width: 768px){
  .slide{
    height: 866px;
  }

  /* AJUSTA O TAMANHO DO BODY %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  .card-section.slide-section{
    grid-template-rows: 1fr  866px;
  
    height: 100%;
  }
  
  .carousel, .carousel ul{
    max-width: 680px;
    height: 100%;
  }


  .carousel-button{
    transform: translateY(0%);
  }
  .carousel-button.next{
    width: fit-content;
    right: 0;
  }
  .carousel-button.prev{
    left: 0;
  }

  .slide-info > .card-info{
    padding: 24px;
    height: 320px;
    
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .slide-info .preco p{
    margin-bottom: 10px;
  }
}

@media (max-width: 720px){
  body{
    background-size: 800px;
  }

  header{
    margin-bottom: 100px;
  }
  
  main{
    padding: 0 10px;
  }

  nav{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    justify-content: space-between;

    padding: 20px;
    margin: 0;
  }

  .logo-mobile{
    display: block;
    background: #00000041;
    border-radius: 4px;
    padding: 4px;
  }
  .logo-descktop{
    display: none;
  }

  .search-components{
    width: auto;
    border: 0;
    background: none;
    box-shadow: 0 0 0 0;
  }

  .search-bar-mobile{
    margin-right: 10px;
    display: block;
  }
  .search-bar-mobile img{
    height: 44px;
    background: var(--primary-color);
    border-radius: 10px;
    border: 0 0 6.5px 2px var(--primary-shadowbox);
  }

  .search-box{
    display: none;
  }

  .card-holder,.card-holder a, .card-holder img, .plataforma img{
    width: 170px;
  }
  .card-holder h3{
    display: none;
  }

  .promo span{
    font-size: 14px;
  }
  .promo p{
    font-size: 8px;
  }
  .promo h4, .preco h4{
    font-size: 16px;
  }

}

@media (max-width: 425px){

  .login-button{
    padding: 14px 26px;

    font-size: 12px;
  }

  .avisos{
    display: none;
  }

  .card-section{
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
  }

  .card-section-titulo{
    justify-content: space-between;
    gap: 0px;
  }

  .card-section .card-section-titulo h2{
    font-size: 20px;
  }

  .card-section .card-section-titulo p{
    font-size: 12px;
    max-width: 32ch;
  }

  .card-section-titulo a{
    padding: 12px 24px;
    font-size: 12px;

    text-align: center;
  }

  .game-card{
    justify-items:center;
    gap: 2px;
  }
  .game-card button{
    width: 170px;
  }


  .card-info .promo {
    grid-template-columns: 1fr 9fr;
  }

  .card-section.slide-section {
    grid-template-rows: 1fr 866px !important;

    max-width: 300PX;
    height: 100%;
  }

  .carousel, .carousel ul{
    max-width: 300px;
  }

  .slide{
    max-width: 300px;
  }
  .slide-images{
    width: 300px;
    height: fit-content;
    grid-template-rows: 200px auto;

  }
  .slide-images-banner{
    width: 300px;

    background-repeat: no-repeat;
    background-position: center;
  }

  .slide-images-galery{
    width: 300px;
    height: fit-content;
    gap: 10px;

    overflow-x: scroll;
  }

  .slide-images-galery img{
    height: auto;
  }
  
  .card-section.slide-section{
    grid-template-rows: 1fr  634px;
  }
  
}